.main {
    display: flex;
}

body {
    background-color: azure;
}

.pred {
    height: 300px;
    width: 300px;
}

#canvas {
    margin-left: -5px;
    background-color: white;
    margin-top: -25px;
}

.task {
    margin-left: 510px;
    background-color: blanchedalmond;
}

img {
    background-color: rgb(166, 227, 255);
}

#bbs {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(0, 81, 255, 0.411);
    width: 100px;
}